html {
    box-sizing: border-box;
    --light: #FFD2D7;
    --dark: #322653;
    --title-font: 'Poppins', helvetica;
    --primary-font: 'Poppins', helvetica;
  }
  
*,
*::before,
*::after {
box-sizing: inherit;
}
  
* {
    background-color: var(--light);

    font-family: var(--primary-font);
}

body {
    margin: 0px auto;
    max-width: 1300px;
    height: auto;
    display: block;
}

.header {
    margin: 0 auto;
    padding: 20px;
}


.container {
    margin: 0 30;
    display: flex;
}

.button {
    opacity: 0.5;
    transition: 0.4s;
}
.button:hover {
    opacity: 1;
}

.container > div {
    font-family: var(--title-font, serif);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--light);
    text-decoration: none;
    height: 50px;
    min-width: 60px;
    padding: 15px 20px;
    white-space: nowrap;
    margin: 0 5px;
    border-radius: 24px;
    background-color: var(--dark);
}

.maincontainer {
    margin: 100px 50px;
    display: flex;
} 

.add {
    background-color: var(--dark);
    border-radius: 10px;
    width: 180px;
    height: 250px;
    border: 5px;
    margin: 20px;
}

.plusone {
    background-color: var(--light);
    height: 20px;
    width: 10px;
}

#form {
    flex-direction: column;
    align-items: left;
    height: auto;
    width: 400px;
    padding: 20px;
    border-radius: 24px;
    color: var(--dark);
    font-size: 20px;
    margin: auto;
}

#form > div {
    margin-bottom: 10px;

}

#form > div > label {
    font-size: 15px;
    margin-bottom: 5px;
}

#form > div.button {
    align-items: center;
}

#form button {
    padding: 10px 20px;
    width: 130px;
    margin: 0 auto;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.box {
    color: var(--light);
    font-size: 15px;
    align-content: left;
    padding: 15px;

}

